@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<nav>
    <ul>
        <li> <NavLink href="/cities">Manage Cities</NavLink></li>
        <li> <NavLink href="/tax-period-rules">Manage Tax Rules</NavLink></li>
        <li> <NavLink href="/vehicles">Manage Vehicles</NavLink></li>
        <li> <NavLink href="/holidays">Manage Holidays</NavLink></li>
        <li> <NavLink href="/calculate-tax">Calculate Tax</NavLink></li>
    </ul>
</nav>